#nodes {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.node {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 10;
    font-size: 12px;
}

.node_color {
    position: absolute;
    border: 1px solid black;
    z-index: 12;
    width: 10px;
    height: 10px;
    right: -5px;
    top: -5px;
    cursor: pointer;
}

.node_selected {
    border: 2px solid black;
    /*margin-left: -2px;*/
    /*margin-top: -2px;*/
}

.node_color:hover {
    border: 2px solid black;
    right: -6px;
    top: -6px;
}

.node_header {
    padding: 10px;
    cursor: move;
    z-index: 11;
    background-color: rgba(57, 182, 190, 0.4);
    color: black;
}

#color_picker {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 600px;
    height: 200px;
    border: 1px solid black;
}

#context_menu {
    position: fixed;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    width: 150px;
    /*height: 300px;*/
    /*padding: 10px;*/
    background-color: white;
    border: 1px solid black;
    z-index: 101;
}

#context_menu button {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    background-color: white;
    border: 0px;
    cursor: pointer;
}

#context_menu button:hover:not([disabled]) {
    text-decoration: underline;
}

#context_menu button:active:not([disabled]) {
    background-color: #ccc;
}

#context_menu button:disabled {
    color: #bbb;
    cursor: not-allowed;
}

#context_menu_exit {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.edge {
    stroke: black;
    stroke-width: 1;
    marker-mid: url(#arrow);
}

#arrow {
    fill: black;
}

.button {
    background-color: rgba(57, 182, 190, 0.2);
    border: 1px solid black;
    color: black;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    table-layout: fixed;
    width: 5cm;
    font-size: 12px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 10px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.sidebar {
    position: fixed;
    border-right: 1px solid black;
    z-index: 5;
    text-align: center;
}

.clr-field button {
    width: 100% !important;
    height: 100%;
    border-radius: 5px;
  }
