* {
    font-family: monospace
}

.node {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 10;
}

.node_header {
    padding: 10px;
    cursor: move;
    z-index: 11;
    background-color: #white;
    color: black;
}

.edge {
    stroke: black;
    stroke-width: 1;
    marker-mid: url(#arrow);
}

#arrow {
    fill: black;
}
