* {
    font-family: monospace
}

body {
    margin: 0px;
}

.node {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 10;
}

.node_header {
    padding: 10px;
    cursor: move;
    z-index: 11;
    background-color: white;
    color: black;
}

.edge {
    stroke: black;
    stroke-width: 1;
    marker-mid: url(#arrow);
}

#arrow {
    fill: black;
}

.button {
    background-color: rgba(57, 182, 190, 0.2);
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}